[submodule "qemu"]
	path = qemu
	url = https://github.com/duskmoon314/qemu.git
	branch = riscv-N-stable-5.0
[submodule "Labeled-uCore-SMP"]
	path = Labeled-uCore-SMP
	url = https://github.com/Gallium70/uCore-SMP
[submodule "lrv-rust-bl"]
	path = lrv-rust-bl
	url = https://github.com/Gallium70/lrv-rust-bl
[submodule "rv-csr-test"]
	path = rv-csr-test
	url = https://github.com/duskmoon314/rv-csr-test.git
[submodule "rCore-N"]
	path = rCore-N
	url = https://github.com/duskmoon314/rCore-N.git
[submodule "labeled-RISC-V-N"]
	path = labeled-RISC-V-N
	url = https://github.com/Gallium70/labeled-RISC-V-N.git
[submodule "rustsbi-qemu"]
	path = rustsbi-qemu
	url = https://github.com/duskmoon314/rustsbi-qemu.git
	branch = legacy-multicore
