fs
.vscode
fs.img
k210.bin
target
kernel/*/*.d
kernel/*/*.o 
kernel/*/*.example.*
kernel/*/*.back.*
kernel/*.d
kernel/*.o
kernel/*.example.*
kernel/*.back.*
include/*/*.example.*
include/*/*.back.*
include/*.example.*
include/*.back.*